/* header area style  */
@use "../utils/mixin" as *;
@use "../utils/variables" as *;

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        display: flex;
        align-items: center;
        gap: 0px;
        position: relative;
        height: 100px;

        @media #{$lg} {
            height: 70px;
            gap: 20px;
        }

        & > *:nth-child(2) {
            margin-inline-end: auto;
        }
    }

    .container {
        &.large {
            @media (min-width: 1800px) {
                max-width: 1750px;
            }
        }
    }

    .sticky,
    .transformed {
        background-color: #f9e6dc;
    }

    .header__logo {
        border: 1px solid var(--border);
        padding: 17px 30px;
        border-radius: 60px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }

        img {
            max-width: 95px;
        }
    }

    .header__nav {
        border: 1px solid var(--border);
        border-radius: 60px;
        padding: 0 13px;

        @media #{$lg} {
            padding: 0;
            border: 0;
        }
    }

    .main-menu li a {
        font-size: 16px;
        font-weight: 400;
        padding: 21px 17px;

        &:hover {
            color: var(--action);
        }
    }

    .search-icon {
        color: var(--primary);
    }

    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }

    .header__button {
        @media #{$xs} {
            display: none;
        }
    }

    .rr-btn {
        font-size: 16px;
        padding: 22px 38px;
        letter-spacing: -0.04em;

        @media #{$lg} {
            padding: 17px 33px;
        }
    }

    .header__navicon {
        i {
            font-size: 22px;
            color: var(--primary);
        }
    }
}
